@model CaptchaMvc.Models.MathBuildInfoModel
<img id="@Model.ImageElementId" src="@Model.ImageUrl" />
@Html.Hidden(Model.TokenElementId, Model.TokenValue)
<br />
@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
        });

        function @functionName {
            $('#@id').hide();
            $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val(), @Model.MathParamterName: "0" }, function () {
                $('#@id').show();
            });
            return false;
        }
    </script>

   
    <div class="col-md-10">
        <a href="#@id" id="@id" onclick="@functionName">جدید</a>
    </div>
  
   
}

@Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>() { { "data-val", "true" }, { "data-val-required", "لطفا پاسخ تصویر را وارد کنید" }, { "class", "form-control" } })
@Html.ValidationMessage(Model.InputElementId, new { @class = "text-danger" })
