@model ViewModel.ForgetPasswordViewModel
@using CaptchaMvc.HtmlHelpers
<div class="modal-dialog animated flip">
    <div class="modal-content">
        <div class="modal-header alert alert-success text-center">
            <h5>کاربر گرامی برای دریافت پیامک شماره همراه خود را وارد کنید</h5>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(MVC.User.ActionNames.ForgetPassword, MVC.User.Name, null, new AjaxOptions { UpdateTargetId = "loginModal", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, new { @class = "form-horizontal", id = "forgetPassForm" }))
            {

                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">انسان یاب</label>
                    <div class="col-md-7">
                        @Html.MathCaptcha(MVC.Shared.Views._CaptchaPartial)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <button type="button" data-loading-text="در حال ارسال" onclick="AjaxForm.DisableEnableButton(this,'forgetPassForm')" class="btn btn-sm btn-success">دریافت</button>

                        @Ajax.ActionLink("ورود به حساب خود", MVC.User.ActionNames.Login, MVC.User.Name, null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "loginModal" }, new { @class = "btn btn-sm btn-primary", rel = "nofollow" })
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    Public.Routin();
    $(function () {
        AjaxForm.EnableBootstrapStyleValidation();
        AjaxForm.EnablePostbackValidation();
        AjaxForm.EnableAjaxFormvalidate('forgetPassForm');
    })
</script>